.home {
    margin: 0px 5px;
}

.home .content, .home .description, .home .toCreate, .home .globalCounter{
    margin: 0.5em 0px;
}

.home .content {
    font-size: 40px;
    font-weight: bold;
}

.home .description{
    font-size: 15px;
}

.home .toCreate{
    padding: 0px;
    color: #19beff;
    text-decoration: none;
    transition: 0.1s;
}

.home .toCreate:hover{
    background-color: transparent;
    color: #1496c9;
}

.home .toDetail {
    font-size: 27px;
    color: #000000;
    text-decoration: none;
}